.btnSearch, .btn-form {
  background-color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px #909090, inset 4px 4px 5px rgb(91, 91, 91),
    3px 3px 4px gray;
}

.btnSearch:hover, .btn-form:hover {
  background-color: black;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: inset -3px -3px 5px rgb(91, 91, 91),
   3px 3px 4px gray;
}

.formControl{
    box-shadow: 2px 2px 2px rgb(130, 130, 130);
}

.containerMain{
  position: relative;
}

.containerMain::after, .containerMain::before{
  position: absolute;
  content: "";
  height: 2px;
  width: calc(50% - 25%);
  background-color:#dee2e6;
  top: 50%;

}
.containerMain::after{
  left: 0;
}
.containerMain::before{
right: 0;
}
@media (max-width: 768px) {
  .containerMain::after, .containerMain::before{
    display: none;
  }
  .containerMain{
    border-top: 2px solid #dee2e6;
    padding-top: 10px;
  }
}