@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
.img-book-detail{
  box-shadow: 0 40px 20px -20px rgb(100, 100, 100,0.8);
  
}
.btn:hover{
  border: none;
  box-shadow: none;
}

.btn:active{
  border: none;
}

.btn:focus{
  border: none;
}
