body.dark {
  background-color: #2e2e2e;
  color: #fff;

  .navBrand {
    color: #fff;
  }
  .navbarBorder,
  .containerMain {
    border-color: #1a1a1a !important;
  }
  .containerMain::after,
  .containerMain::before {
    background-color: #1a1a1a;
  }
  .burger-btn {
    color: #fff;
  }
  .burger-btn:hover {
    background-color: rgb(24, 24, 24);
  }
  .btnSearch,.btn-form {
    background-color: rgb(19, 19, 19) !important;
    box-shadow: inset 2px 2px 2px #1a1a1a, inset 4px 4px 5px rgb(54, 54, 54),
      3px 3px 4px rgb(0, 0, 0);
    color: #fff;
  }
  .btnSearch:hover,.btn-form:hover{
    box-shadow: inset -2px -2px 2px #1a1a1a, inset -4px -4px 5px rgb(54, 54, 54),
      -3px -3px 4px rgb(0, 0, 0);
  }
  .btn-mode,
  .burger-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .btn-mode:hover {
    color: #000;
    background-color: #fff;
    box-shadow: none;
  }
  .burger-btn:hover {
    background-color: #1a1a1a;
    box-shadow: none;
  }
  .cardBook {
    background-color: rgb(24, 24, 24);
    color: #fff;
    box-shadow: 4px 4px 6px rgb(32, 32, 32);
  }
  .titleCard::after {
    background: linear-gradient(
      to bottom,
      rgba(24, 24, 24, 0.8),
      rgb(24, 24, 24)
    );
  }
  .cardBook .btn-reviews, .cardBook .btn-detail {
    background-color: rgb(24, 24, 24);
    color: #fff;
  }
  .form-mode.form-control,
  .formControl.form-control {
    background-color: rgb(19, 19, 19);
  }
  .formControl {
    border: 1px solid rgb(68, 68, 68);
    box-shadow: none;
  }
  .form-mode::placeholder,
  .formControl::placeholder {
    color: #7a7575;
  }
  .offcanvas {
    background-color: #1a1a1a;
    color: #fff;
  }
  .modal-content {
    background-color: rgb(46, 46, 46);
    color: #fff;
  }
}
