.cardBook {
  max-width: 400px;
  margin: 0 15px;
  border: 1px solid transparent;
  z-index: 0;
  box-shadow: 5px 5px 6px black;
  transition: transform 0.5s ease;
}

.imageBook {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2/3;
}

.titleCard {
  width: 100%;
  line-height: 1.5rem;
  height: 3rem;
  overflow: hidden;
  position: relative;
}

.titleCard::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.415),
    rgb(255, 254, 254)
  );
  height: 1.5rem;
  width: 100%;
}

.cardBook:hover {
  transform: scale(1.3);
  background-color: rgb(255, 255, 255);
  z-index: 10;
  box-shadow: 5px 5px 10px rgb(63, 63, 63)
}

.cardBook:hover .titleCard {
  line-height: 1.2rem;
  max-height: 7rem;
  min-height: 4rem;
}

.cardBook:hover .titleCard::after {
  height: 0;
  background-color: transparent;
}

.cardBook:hover .imageBook{
  object-fit: contain;
}