.cardBook {
  max-width: 350px;
  margin: 0 15px;
  border: 1px solid transparent;
  z-index: 0;
  box-shadow: 4px 4px 6px rgb(159, 158, 158);
  transition: transform 1s ease;
}

.imageBook {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2/3;
}

.titleCard {
  width: 100%;
  line-height: 1.4rem;
  height: 5rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding-top: 1rem;
  text-align: center;

}

.titleCard::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgb(255, 254, 254)
  );
  height: 2.5rem;
  width: 100%;
}

.cardBook:hover {
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 5px 5px 10px rgb(63, 63, 63);
}

.cardBook:hover .titleCard {
  line-height: 1.3rem;

  
transform: scale(0.8);
}

.cardBook:hover .titleCard::after{
 opacity: 0;
}

.cardBook:hover .imageBook {
  object-fit: contain;
}

.cardBook button {
  position: absolute;
  bottom: 40px;
  right: 0;
  height: 35px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  border: none;
  transition: transform 0.5s ease-in-out , opacity 0.5s ease-in-out;
}

.cardBook:hover button {
  opacity: 1;
  transform: translateY(-40px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
